<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container-fluid bodybackground">
    <div class="row" style="margin-bottom: 30px; margin-top: 10px;">
      <div class="col-md-12">
      </div>
    </div>
   
    
    <div class="row" align="center">
      <div class="form-content">
          <form id="Loanform" [formGroup]="loanInfo" class="form-horizontal" role="form"> 
          <table class="tablestyle">
            <tr>
              <td class="tdcenter"><label for="loanType">Loan Type:</label></td>
              <td><select class="form-control" name="loanType" id="loanType" formControlName="loanType" [(ngModel)]="optionValue"
                (change)="onSelect($event.target.value)">
                  <option class="form-control" value="Education">Education</option>
                  <option class="form-control" value="Personal">Personal</option>
              </select>
              <div *ngIf="!loanType?.valid && (loanType?.dirty || loanType?.touched)" class="errorAlert">
                  <div [hidden]="!loanType.errors.required">
                    &nbsp; Loan Type is required
                  </div>
              </div>
              </td>
          </tr>
          <br>
            <tr>
              <td class="tdcenter"><label for="loanAmt">Loan Amount:</label></td>
              <td><input class="form-control" type="text" id="loanAmt" name="loanAmt" formControlName="loanAmt">
                  <div *ngIf="!loanAmt?.valid && (loanAmt?.dirty || loanAmt?.touched)" class="errorAlert">
                      <div [hidden]="!loanAmt.errors.required">
                        &nbsp; Loan Amount is required
                      </div>
                      <div [hidden]="!loanAmt.errors.pattern">
                       Enter numeric value
                    </div>
                  </div>
              </td>
          </tr>
          <br>
          <tr>
            <td class="tdcenter"><label for="applyDate">Loan Apply Date:</label></td> 
            <td><input class="form-control" type="date" id="applyDate" name="applyDate" formControlName="applyDate"
               max="{{date | date: 'yyyy-MM-dd' }}">
                <div *ngIf="!applyDate?.valid && (applyDate?.dirty || applyDate?.touched)" class="errorAlert">
                    <div [hidden]="!applyDate.errors.required">
                      &nbsp; Loan Apply Date is required
                    </div>
                </div>
            </td>
          </tr>
          <br>
          <tr>
            <td class="tdcenter"><label for="rateOfInterest">Rate of Interest:</label></td> 
            <td><input class="form-control" type="text" id="rateOfInterest" name="rateOfInterest" formControlName="rateOfInterest"
              [(ngModel)]="ROI">
                <div *ngIf="!rateOfInterest?.valid && (rateOfInterest?.dirty || rateOfInterest?.touched)" class="errorAlert">
                    <div [hidden]="!rateOfInterest.errors.required">
                      &nbsp; ROI is required
                    </div>
                </div>
            </td>
          </tr>
          <br>
          <tr>
            <td class="tdcenter"><label for="duration">Duartion:</label></td> 
            <td><select class="form-control" name="duration" id="duration" formControlName="duration">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
                <div *ngIf="!duration?.valid && (duration?.dirty || duration?.touched)" class="errorAlert">
                    <div [hidden]="!duration.errors.required">
                      &nbsp; Duartion is required
                    </div>
                </div>
            </td>
          </tr>
          <br>
   

      <ng-container *ngIf="optionValue == 'Education'">
              <tr>
                <td class="tdcenter"><label for="courseFee">Course Fee:</label></td>
                <td><input class="form-control" type="text" id="courseFee" name="courseFee" formControlName="courseFee">
                    <div *ngIf="!courseFee?.valid && (courseFee?.dirty || courseFee?.touched)" class="errorAlert">
                        <div [hidden]="!courseFee.errors.required">
                          &nbsp; Course Fee is required
                        </div>
                        <div [hidden]="!courseFee.errors.pattern">
                          Enter numeric value
                       </div>
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="course">Course:</label></td>
                <td><input class="form-control" type="text" id="course" name="course" formControlName="course">
                    <div *ngIf="!course?.valid && (course?.dirty || course?.touched)" class="errorAlert">
                        <div [hidden]="!course.errors.required">
                          &nbsp; Course is required
                        </div>
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="fatherOcc">Father Occupation:</label></td>
                <td><input class="form-control" type="text" id="fatherOcc" name="fatherOcc" formControlName="fatherOcc">
                    <div *ngIf="!fatherOcc?.valid && (fatherOcc?.dirty || fatherOcc?.touched)" class="errorAlert">
                        <div [hidden]="!fatherOcc.errors.required">
                          &nbsp; Father Occupation is required
                        </div>
                        
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="experience">Father Experience:</label></td>
                <td><input class="form-control" type="text" id="experience" name="experience" formControlName="experience">
                    <div *ngIf="!experience?.valid && (experience?.dirty || experience?.touched)" class="errorAlert">
                        <div [hidden]="!experience.errors.required">
                          &nbsp; Father Experience is required
                        </div>
                        <div [hidden]="!experience.errors.pattern">
                          Enter numeric value
                       </div>   
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="rationCard">Ration Card Number</label></td>
                <td><input class="form-control" type="text" id="rationCard" name="rationCard" formControlName="rationCard">
                    <div *ngIf="!rationCard?.valid && (rationCard?.dirty || rationCard?.touched)" class="errorAlert">
                        <div [hidden]="!rationCard.errors.required">
                          &nbsp; Ration Card Number is required
                        </div>
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="fatherAnnualIncome">Father's Annual Income:</label></td>
                <td><input class="form-control" type="text" id="fatherAnnualIncome" name="fatherAnnualIncome" formControlName="fatherAnnualIncome">
                    <div *ngIf="!fatherAnnualIncome?.valid && (fatherAnnualIncome?.dirty || fatherAnnualIncome?.touched)" class="errorAlert">
                        <div [hidden]="!fatherAnnualIncome.errors.required">
                          &nbsp; Father Annaul Income is required
                        </div>
                        <div [hidden]="!fatherAnnualIncome.errors.pattern">
                          Enter numeric value
                       </div>
                    </div>
                </td>
              </tr>
              <br>
            
            </ng-container>
             
        <ng-container *ngIf="optionValue == 'Personal'">
              <tr>
                <td class="tdcenter"><label for="annualIncome">Annual Income:</label></td>
                <td><input class="form-control" type="text" id="annualIncome" name="annualIncome" formControlName="annualIncome">
                    <div *ngIf="!annualIncome?.valid && (annualIncome?.dirty || annualIncome?.touched)" class="errorAlert">
                        <div [hidden]="!annualIncome.errors.required">
                          &nbsp;Annaul Income is required
                        </div>
                        <div [hidden]="!annualIncome.errors.pattern">
                          Enter numeric value
                       </div>
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="companyName">Company Name:</label></td>
                <td><input class="form-control" type="text" id="companyName" name="companyName" formControlName="companyName">
                    <div *ngIf="!companyName?.valid && (companyName?.dirty || companyName?.touched)" class="errorAlert">
                        <div [hidden]="!companyName.errors.required">
                          &nbsp;Company Name is required
                        </div>
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="designation">Designation:</label></td>
                <td><input class="form-control" type="text" id="designation" name="designation" formControlName="designation">
                    <div *ngIf="!designation?.valid && (designation?.dirty || designation?.touched)" class="errorAlert">
                        <div [hidden]="!designation.errors.required">
                          &nbsp;Designation is required
                        </div>
                    </div>
                </td>
              </tr>
              <br>
              <tr>
                <td class="tdcenter"><label for="perosnalExperience">Personal Experience:</label></td>
                <td><input class="form-control" type="text" id="perosnalExperience" name="perosnalExperience" formControlName="perosnalExperience">
                    <div *ngIf="!perosnalExperience?.valid && (perosnalExperience?.dirty || perosnalExperience?.touched)" class="errorAlert">
                        <div [hidden]="!perosnalExperience.errors.required">
                          &nbsp;Experience is required
                        </div>
                        <div [hidden]="!perosnalExperience.errors.pattern">
                          Enter numeric value
                       </div>
                    </div>
                </td>
              </tr>
              <br>
         
            </ng-container>

          </table>
          
          <button type="button" class="btn btn-lg commonButton"
           (click)="submit()">
         Apply for Loan
          </button>
          </form>
        </div>

    </div>
    
  
</div>